/*removes the default browser's margin and padding*/
/*applies to all elements in the app*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --form-background-color: #F5F7FA; 
  --ebrains-color-light: #9CE142;
  --ebrains-color-medium: #00C959;
  --ebrains-color-dark: #00A595;
  /* Color variations are obtained by inserting the main color in 
  Ant Design's theme editor https://ant.design/theme-editor */
  /* Color on buttons on official ebrains page: */
  --button-color-primary: #45b07c; 
  --button-color-primary-hover: #68bd91;
  --button-color-primary-active-hover: #2f8a61;
  --button-color-primary-active: #2f8a61e0;
  --button-color-secondary: #00c959;
  --button-color-secondary-hover: #22d66d;
  --button-color-secondary-active-hover: #00a34f;
  --button-color-secondary-active: #00a34fe0;
  --button-color-error: #ff4d68;
  --button-color-error-hover: #ff7585;
  --button-color-error-active-hover: #d93654;
  --button-color-error-active: #d93654e0;
  --button-color-error: #686868;
  --button-color-error-hover: #b56864;
  --button-color-error-active-hover: #822c2e;
  --button-color-error-active: #822c2ee0;
  --input-focus-color: #686868;
  --title-underline: #e5e5e5;
  --input-tick-color: var(--button-color-primary);
  --max-content-width: 980px;    
  --main-font-size: 100%; /* 16px browser default, scalable */
}
body {
  font-size: var(--main-font-size);
}
.body-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /*min-height: 100vh;*/ /* Full viewport height */
}
.container-logo {
  margin: 0 auto;
  padding: 0 60px;
  max-width: var(--max-content-width);
}
.container-logo img {
  display: block; /* Remove bottom space */
  margin: 0; /* Explicitly remove default margin */
}
.gradient-line {
  width: 100vw; 
  height: 0.35rem; 
  background: linear-gradient(to left, var(--ebrains-color-light), var(--ebrains-color-medium), var(--ebrains-color-dark)); /* Your gradient */
}
.container-subheader {
  background-color: var(--form-background-color);
  margin-bottom: 1rem;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  font-size: 0.9rem;
  z-index: 9;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px, rgba(0, 0, 0, 0.05) 0px 1px 4px 0px, rgba(0, 0, 0, 0.05) 0px 2px 8px 0px;
}
.login-container {
  /*margin: 0 2.5rem;*/
  /*padding: 5px 60px 5px 60px;*/
  padding: 0.5rem 4rem 0.5rem 2rem;
  display: flex;
  justify-content: flex-end;
  /*max-width: var(--max-content-width);*/
}
.login-button {
  margin-left: 1.3rem;
}
/*.dropdown-menu:hover {
color: var(-button-color-primary-active-hover);
}*/
.greetings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1rem;
  padding: 0.5rem 2rem;
}
.privacy-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  padding: 0.5rem 2rem 0.5rem 4rem;
  transition: max-height 0.3s ease;
}
.notice-content {
  /*margin-right: 5px;*/
  margin: 0 auto;
  padding: 10px 0px 10px 0px;
}
.link-button {
  padding: 0px 0px 0px 0px;
  border-width: 0px;
  font-size: small;
  font-weight: 600;
  color: var(--button-color-primary);
  background-color: transparent;
  padding-right: 15px;
  background: url('/public/icons/up_arrow.svg') no-repeat;
  background: url('/public/icons/down_arrow.svg') no-repeat;
  background-position: 100% 50%;
  /* transition: text-decoration 0.2 s; */
}
.link-button:hover {
  text-decoration: underline;
  cursor: pointer;
}
.notice-dropdown {
  margin: 0 auto;
  padding: 10px 0px 10px 0px;
}
.app-footer {
  color: #ffffff;
  background-color:#1F2933;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0.5rem 0 0 0;
}
/* top | right | bottom | left */
.container-footer {
  margin: 0 1.2rem 0 1.2rem;
  padding: 0.3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9rem;
}
/* Text in page footer */
.text-muted {
  color: #CCCED0;
}
.container-footer a {
  color: var(--button-color-primary);
}
.container-footer a:hover {
  color: #CCCED0;
}
.container-form {
  margin-top: 1rem;
  margin-bottom: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 40px 60px 60px 60px;
  background-color: var(--form-background-color);
  border-radius: 20px;
}
.step-title {
  border-bottom: 1px solid var(--title-underline);
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 21px;
  color: #333
}
/*-----------------------------not edited yet by maya------------------------*/

.notice {
  background-color: var(--form-background-color);
}

/* Some specific component styling */

/* all links elements */
a {
  color: var(--button-color-primary);
}

.form-control:focus { 
  border-color: var(--input-focus-color);
  outline-color: var(--input-focus-color);
  box-shadow: 0 0 3px var(--input-focus-color);
  outline-offset: 0px;
  outline: none;
}

input[type=checkbox] {
  accent-color: var(--input-tick-color);
}
input[type=radio] {
  accent-color: var(--input-tick-color);
}

.result .react-json-view {
  padding-bottom: 10px;
}

.ant-steps-item-process {
  border-color: var(--button-color-primary);
}
.ant-steps .ant-steps-item-process .ant-steps-item-icon >.ant-steps-icon .ant-steps-icon-dot {
  background: var(--button-color-primary);
}
.ant-steps .ant-steps-item-process .ant-steps-item-icon {
  border-color: var(--button-color-primary);
}

/* General style for all buttons */
.btn {
  padding: 6px 12px 6px 12px;
  border-width: 1px;
  font-size: medium;
  font-weight: 600;
}
.btn:hover {
  padding: 5px 11px 5px 11px;
  border-width: 2px;
  font-size: medium;
}

/* Styles for the next button */
.btn-primary {
  color: #ffffff;
  min-width: 100px;
  background-color: var(--button-color-primary);
  border-color: var(--button-color-primary);
}
.btn-primary:hover {
  background-color: var(--button-color-primary-hover);
  border-color: var(--button-color-primary-hover);
}
.btn-primary:active {
  background-color: var(--button-color-primary-active);
  border-color: var(--button-color-primary-active);
}
.btn-primary:hover:active {
  background-color: var(--button-color-primary-active-hover);
  border-color: var(--button-color-primary-active-hover);
}
.btn-primary:hover:disabled {
  background-color: var(--button-color-primary-active-hover);
  border-color: var(--button-color-primary-active-hover);
}

.btn-default {
  color: var(--button-color-primary);
  background-color: #ffffff;
  border-color: var(--button-color-primary);
  background-color: var(--form-background-color);
}
.btn-default:hover {
  color: var(--button-color-primary-hover);
  border-color: var(--button-color-primary-hover);
  background-color: var(--form-background-color);
}
.btn-default:active {
  color: var(--button-color-primary-active);
  border-color: var(--button-color-primary-active);
  background-color: var(--form-background-color);
}
.btn-default:hover:active {
  color: var(--button-color-primary-active-hover);
  border-color: var(--button-color-primary-active-hover);
  background-color: var(--form-background-color);
}

/* Buttons in the array list */

.array-item-add .btn-add {
  content:'Add Item'; 
  float: right;
  min-width: 50px;
  max-width: 50px;
  margin-right: calc(1% + 11px);  /* 15 + 10 + 1 to align with remove button */
  color: var(--button-color-primary);
  border-color: var(--button-color-primary);
  background-color: var(--form-background-color);
}
.array-item-add .btn-add:hover {
  color: var(--button-color-primary-hover);
  border-color: var(--button-color-primary-hover);
  background-color: var(--form-background-color);
}
.array-item-add .btn-add:active {
  color: var(--button-color-primary-active);
  border-color: var(--button-color-primary-active);
  background-color: var(--form-background-color);
}
.array-item-add .btn-add:hover:active {
  color: var(--button-color-primary-active-hover);
  border-color: var(--button-color-primary-active-hover);
  background-color: var(--form-background-color);
}

.array-item-toolbox {
  float: right;
  padding-right:1%;
}

.array-item-toolbox .btn-group {
  float: right;
}

.array-item-toolbox .btn-danger {
  margin: 0px 1px 0px 1px;
  min-width: 50px;
  color: var(--button-color-error);
  border-color: var(--button-color-error);
  background-color: var(--form-background-color);
}
.array-item-toolbox .btn-danger:hover {
  margin: 0px 0px 0px 0px;
  color: var(--button-color-error-hover);
  border-color: var(--button-color-error-hover);
  background-color: var(--form-background-color);
}
.array-item-toolbox .btn-danger:active {
  color: var(--button-color-error-active);
  border-color: var(--button-color-error-active);
  background-color: var(--form-background-color);
}
.array-item-toolbox .btn-danger:hover:active {
  color: var(--button-color-error-active-hover);
  border-color: var(--button-color-error-active-hover);
  background-color: var(--form-background-color);
}


.container-form .form-group.field .row.array-item-list .array-item {
  border: 1px solid #e5e5e5;
  display: flex;
  position: relative;
  padding: 20px 10px 0px 10px;
  border-radius: 6px;
  margin-left: 15px;
  margin-bottom: 20px;
  width: calc(100% - 30px);
}

/* Components in the form's footer i.e nav buttons etc */

.container-form button {
  margin-top: 10px;
  min-width: 120px;
}
.container-form button.btn-default {
  margin-right: 10px;
  background-color: #ffffff;
}

.container-form .back-panel {
  padding-left: 0;
}

.container-form .submit-panel {
  text-align: right;
  padding-right: 0;
}

/* Global override for .ant-btn */
.ant-btn {
  -webkit-user-select: none; /* Safari and older browsers */
  -moz-user-select: none;    /* Older versions of Firefox */
  -ms-user-select: none;     /* Internet Explorer */
  user-select: none;         /* Standard */
}